Repository AY2223S2-CS2103T-T13-4/tp, pull requests merged in 2023-04, with the labels that each got.

#266 Prevent used tag deletion
  src/main/java/seedu/library/logic/commands/DeleteTagCommand.java
  src/main/java/seedu/library/model/Library.java
  src/main/java/seedu/library/model/Model.java
  src/main/java/seedu/library/model/ModelManager.java
  src/test/java/seedu/library/logic/commands/AddCommandTest.java
Labels: bug, priority.High

#273 Fix equality check for 0 rating
  src/main/java/seedu/library/logic/commands/GoToCommand.java
  src/main/java/seedu/library/ui/ZoomView.java
Labels: bug

#289 Add product logo placeholder to ug
  docs/UserGuide.md
  docs/images/MyLibLogo.png
Labels: documentation.UserGuide

#290 Add more details to "How to use the User Guide"
  docs/UserGuide.md
Labels: documentation.UserGuide

#328 Update User stories to include all features
  docs/DeveloperGuide.md
Labels: documentation.DeveloperGuide

#334 Add genre and tag related commands to Manual Testing section and update PPP
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/team/zhoyx.md
Labels: documentation.DeveloperGuide

#347 Further tweaks to DG formatting
  docs/DeveloperGuide.md
Labels: documentation.DeveloperGuide

#348 Fix DG formatting
  docs/DeveloperGuide.md
Labels: documentation.DeveloperGuide

#349 ResizeClassStorage diagram in DG
  docs/DeveloperGuide.md
Labels: documentation.DeveloperGuide

#350 Fix blury UiClassDiagram
  docs/images/UiClassDiagram.png
Labels: documentation.DeveloperGuide
